img {
    margin-right: 30px;
}

h1 {
    margin-bottom: 50px;
}

select {
    max-width: 200px;
}

form {
    margin-bottom: 30px;
}

#output {
    display:none;
}

#nameOutput, .color, #suggest1, #suggest2, #suggest3, #campusOutput, #addressOutput {
    color: #00b3b4;
}